$blue-color: #0051FB;
$text-color: #4F668E;
$section-bg: #F8FBFF;
$text-white: #ffff;
$poppins-family: 'Poppins', sans-serif;
$monserrat-family: 'Montserrat', sans-serif;


// [data-theme="light"] {
//     $blue-color: #0051FB;
//     $text-color: #4F668E;
//     $section-bg: #F8FBFF;
//     $text-white: #ffff;
// }